/* header.css */

header {
    color: #fff;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    transition: 0.5s all;
    text-transform: uppercase;
}

.header-inner {
    background: rgba(51, 51, 51, 0.6);
    backdrop-filter: blur(22px);
    display: flex;
    max-width: 1320px;
    align-items: center;
    height: 44px;
    margin-inline: auto;
}

.header-menu button {
    width: 48px;
    height: 44px;
    border: none;

    background-color: transparent;
    color: #fff;
    cursor: pointer;
    margin-right: 8px;
}

.header-menu svg {
    width: 38px;
    height: 32px;
    display: flex;
    justify-content: center;
}

.header-button {
    margin-left: auto;
}

.logo {
    align-items: center;
    text-decoration: none;
    display: flex;
}

.logo img {
    height: 35px;
}

.header-nav {
    height: 44px;
}

.header-nav .ul-main {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    gap: 5px;
    margin: 0;
    height: 44px;
}

.header-nav li {
    height: 100%;
}

.header-nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
}

.header-nav li:hover {
    background: rgba(0, 0, 0, 0.32);
}

.expand-arrow {
    margin-left: 5px;
}

.expand-arrow:after {
    margin-bottom: 1px;
    content: "+";
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #FFF;
    font-size: 13.9px;
}

li:hover .expand-arrow:after {
    content: "—";
    font-size: 9.1px;
}

.dropdown-content {
    display: none;
}

.header-nav .dropdown:hover .dropdown-content {
    display: block;
    color: #fff;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
    list-style-type: none;
    background: rgba(51, 51, 51, 0.6);
    backdrop-filter: blur(22px);
}

.header-button button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    margin-right: 8px;
}