@font-face {
  font-family: 'Hitmarker Text VF';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-VF.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-VF.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker VF';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/Hitmarker-VF.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/Hitmarker-VF.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/Hitmarker-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Hitmarker Text Regular';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Regular.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Regular.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Text Italic';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Italic.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Italic.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Hitmarker Text Medium';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Medium.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Medium.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Text Bold';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Bold.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Bold.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Condensed Regular';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Regular.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Regular.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Condensed Light';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Light.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Light.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Condensed Medium';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Medium.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Medium.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Condensed Bold';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Bold.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Bold.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Condensed Black';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Black.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Black.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Normal Regular';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Regular.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Regular.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Normal Light';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Light.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Light.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Normal Medium';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Medium.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Medium.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Normal Bold';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Bold.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Bold.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Normal Black';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Black.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Black.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Wide Regular';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Regular.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Regular.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Wide Light';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Light.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Light.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Wide Medium';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Medium.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Medium.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Wide Bold';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Bold.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Bold.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Wide Black';
  src: url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Black.woff2') format('woff2'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Black.woff') format('woff'), url('../../../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/**
    Call of Duty Global Site Styles
   /apps/atvi/callofduty/global/clientlibs/clientlib-site/css/site.less

**/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  text-rendering: optimizeLegibility;
  font-display: swap;
  font-family: "Hitmarker Text Regular", Arial;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
}
body code {
  font-family: monospace;
  background: #f4f5f6;
  border-radius: 0.4rem;
  font-size: 86%;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}

@keyframes ping-pulse {
  0% {
    box-shadow: 0 0 0 4px #393939, 0 0 0 4px rgba(255, 255, 255, 0.8);
  }
  20% {
    box-shadow: 0 0 0 4px #393939, 0 0 0 6px rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 4px #393939, 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 4px #393939, 0 0 0 4px rgba(255, 255, 255, 0);
  }
}
@keyframes ping-start {
  from {
    outline-offset: 0;
    outline: 0 solid transparent;
  }
  to {
    outline-offset: 4px;
    outline: 2px solid #fff;
  }
}
@keyframes ping-delay {
  from {
    outline-offset: 4px;
    outline: 1px solid #fff;
  }
  to {
    outline-offset: 4px;
    outline: 1px solid #fff;
  }
}
@keyframes ping-end {
  from {
    outline-offset: 4px;
    outline: 1px solid #fff;
  }
  to {
    outline-offset: 0;
    outline: 0 solid transparent;
  }
}

/**
    Call of Duty Hub Core Styles
   /apps/atvi/callofduty/hub/components/hub/hub-2023/clientlibs/css/hub-core.less

**/
body {
  background: #1b1b1b;
  color: #ffffff;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.sr-only {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
#main-content {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr;
  grid-gap: 60px;
}
@media (max-width: 1024px) {
  #main-content {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 1fr;
    grid-gap: 60px;
  }
}
@media (max-width: 600px) {
  #main-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 60px;
  }
}
#main-content .section-touts,
#main-content .section-game-cards,
#main-content .cod-store-module .atvi-text {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 60px;
}
@media (max-width: 1024px) {
  #main-content .section-touts,
  #main-content .section-game-cards,
  #main-content .cod-store-module .atvi-text {
    max-width: 1024px;
    padding-inline: 40px;
  }
}
@media (max-width: 600px) {
  #main-content .section-touts,
  #main-content .section-game-cards,
  #main-content .cod-store-module .atvi-text {
    max-width: 600px;
    padding-inline: 16px;
  }
}
#main-content .section-header {
  font-family: "Hitmarker Condensed Black", Arial;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3.25rem;
  line-height: 3.25rem;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#main-content .section-header:before,
#main-content .section-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
}
#main-content .section-header:before {
  width: 20px;
  left: 0;
  background: #898989;
}
#main-content .section-header:after {
  width: 100%;
  left: 25px;
  background: #898989;
  background: linear-gradient(270deg, rgba(62, 62, 62, 0) 10.12%, #636262 100%);
}
.section-container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 60px;
}
@media (max-width: 1024px) {
  .section-container {
    max-width: 1024px;
    padding-inline: 40px;
  }
}
@media (max-width: 600px) {
  .section-container {
    max-width: 600px;
    padding-inline: 16px;
  }
}
/* ====================================================
	removing padding since #main-content has the
	responsive container applied from the Store
	cards component

	- DM 2/2/24
==================================================== */
#main-content .cod-store-listings #cod-store-listings-aggregator .main-container {
  padding: 8px 0px 30px;
}
#main-content #get-the-game .atvi-text .section-header::after {
  width: 90%;
}
#main-content #get-the-game .cod-store-listings #cod-store-listings-aggregator .main-container h3 {
  display: none;
}

/**
    Call of Duty Hub Main Touts Styles
   /apps/atvi/callofduty/hub/components/hub/hub-2023/clientlibs/css/main-touts.less

**/
.section-touts > .atvi-column-inner-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 8fr 4fr;
}
@media (max-width: 1024px) {
  .section-touts > .atvi-column-inner-container {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 60px;
  }
}
.hub-tout-cards {
  display: grid;
  grid-gap: 40px;
}
.hub-tout-cards .cod-hub-card {
  height: 100%;
}
@media (min-width: 600.02px) {
  .hub-tout-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .hub-tout-cards .hub-card:first-child {
    grid-column: span 2;
  }
}
@media (max-width: 1024px) {
  .hub-tout-cards {
    grid-gap: 28px;
  }
}
@media (max-width: 600px) {
  .hub-tout-cards {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 20px;
  }
}

@keyframes border-pulse {
  0% {
    border: solid 2px red;
  }
  20% {
    border: solid 4px red;
  }
  70% {
    border: solid 8px red;
  }
  100% {
    border: solid 2px red;
  }
}
/*
// by default, use animations
.primary-button(@useAnimations:true) {
	.standard-button();
    background: #fff;
    color: #000;

	// Animations located in /apps/atvi/callofduty/global/clientlibs/clientlib-site/css.txt
    & when (@useAnimations) {
        animation: 100ms ease-in-out ping-end; // hover out animation
    
        &:hover {
            // @keyframes duration | easing-function | delay | name | fill-mode
            animation: 
                80ms ease-in-out ping-start,
                300ms ease-in-out 80ms ping-delay forwards,
                500ms ease 80ms ping-pulse;
        }
    }
}
*/
#button-animations {
  margin-bottom: 100px;
}
#button-animations ul {
  display: flex;
  flex-direction: column;
}
#button-animations ul li {
  margin: 20px;
}
#button-animations .btn button,
#button-animations .btn a {
  /*    position: relative;
            .base-button();
            .button-type();
            padding: 12px 24px;
            border-radius: 2px;
            text-transform: uppercase;*/
}
#button-animations .btn-primary button,
#button-animations .btn-primary a {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
  font-family: "Hitmarker Text Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 0.88rem;
  line-height: 0.88rem;
  letter-spacing: 0.05em;
  padding: 12px 24px;
  border-radius: 2px;
  text-transform: uppercase;
  background: #ffffff;
  color: #000000;
  /*animation: 100ms ease-in-out ping-end; // hover out animation

        &:hover {

			// @keyframes duration | easing-function | delay | name | fill-mode
            animation: 
                80ms ease-in-out ping-start,
                300ms ease-in-out 80ms ping-delay forwards,
                500ms ease 80ms ping-pulse;

        }*/
  /*            animation: 100ms ease-in-out ping-end; // hover out animation

            &:hover {
                // @keyframes duration | easing-function | delay | name | fill-mode
                animation: 
                    80ms ease-in-out ping-start,
                    300ms ease-in-out 80ms ping-delay forwards;
                    //500ms ease 80ms ping-pulse;

                &:before {
                    animation: 500ms ease 80ms border-pulse;
                }
            }


            &:before {
				content: '';
                position: absolute;
                top: -4px;
                left: -4px;
                width: ~"calc(100% + 8px)";
                height: ~"calc(100% + 8px)";
                border-radius: 2px;
            }

*/
}
@media screen and (-ms-high-contrast: active) {
  #button-animations .btn-primary button,
  #button-animations .btn-primary a {
    border: 2px solid currentcolor;
  }
}
#button-animations .btn-primary button.hoverOut,
#button-animations .btn-primary a.hoverOut {
  animation: 100ms ease-in-out ping-end;
}
#button-animations .btn-primary button.hover,
#button-animations .btn-primary a.hover {
  animation: 80ms ease-in-out ping-start, 300ms ease-in-out 80ms ping-delay forwards, 500ms ease 80ms ping-pulse;
}
#button-animations .btn-secondary {
  position: relative;
  overflow: hidden;
  /*
// While hovering
// Navigate to: "secbtn01 2";
// Animate: Smart animate;
animation-timing-function: ease-in-out;
animation-duration: 250ms;

*/
  /*        overflow: hidden;
        border-radius: 2px;

        button, a {
            @glintSize: 24px;
            @borderSize: 1px;
            position: relative;
            border: @borderSize solid #858585;

            &:before {
				content: '';
                width: 120%;
                height: 100%;
                background: transparent;
                position: absolute;
                top: 0;
                left: -140%;
                transform: skew(135deg);
                background: rgba(255,255,255,0.12);
            }

            .cta-text {
                position: relative;
            }

            .cta-span {
                position: absolute;
                display: block;
                border-radius: 2px;
                background: white;
                z-index: 1;
            }

            // top and bottom line
            .cta-span:nth-child(1),
            .cta-span:nth-child(2) {
                height: @borderSize;
                width: @glintSize;
                left: -@borderSize - @glintSize;
				background: linear-gradient(135deg, 
                    rgba(255, 255, 255, 0.00) 0%, 
                    #FFF 44.79%, #FFF 58.85%, 
                    rgba(255, 255, 255, 0.00) 100%
                    );
            }

            // left and right line
            .cta-span:nth-child(3),
            .cta-span:nth-child(4) {
                height: @glintSize;
                width: @borderSize;
                top: -@borderSize - @glintSize;
				background: linear-gradient(225deg, 
                    rgba(255, 255, 255, 0.00) 0%, 
                    #FFF 44.79%, #FFF 58.85%, 
                    rgba(255, 255, 255, 0.00) 100%
                    );
            }

            // top line
            .cta-span:nth-child(1) {
                top: -@borderSize;
            }

            // bottom line
            .cta-span:nth-child(2) {
                bottom: -@borderSize;
            }

            // left line
            .cta-span:nth-child(3) {
                left: -@borderSize;
            }

			// right line
            .cta-span:nth-child(4) {
                right: -@borderSize;
            }


            &:hover {
                @delay1: .4s;
                @delayOffset: .05s;

                &:before {
                    left: -10%;
                    transform: skew(180deg);
                	transition: left @delay1 ease-out,
                        transform @delay1 @delay1/2;
                }

                // top
            	.cta-span:nth-child(1) {
                    left: 100%;
                	transition: left @delay1 ease-out;
                }

                // bottom
                .cta-span:nth-child(2) {
                    left: 100%;
                	transition: left @delay1 ease-out;
                    transition-delay: @delay1/2 - @delayOffset;
                }

                // left
                .cta-span:nth-child(3) {
                    top: 100%;
                	transition: top @delay1/2 ease-out;
                }

                // right
                .cta-span:nth-child(4) {
                    top: 100%;
                	transition: top @delay1/2 ease-out;
                    transition-delay: @delay1 - @delayOffset;
                }

            }
        }
        */
}
#button-animations .btn-secondary .cta-span {
  position: absolute;
  display: block;
  border-radius: 2px;
  background: #ffffff;
  z-index: 1;
}
#button-animations .btn-secondary .cta-span:nth-child(1),
#button-animations .btn-secondary .cta-span:nth-child(2),
#button-animations .btn-secondary .cta-span:nth-child(3),
#button-animations .btn-secondary .cta-span:nth-child(4) {
  background: linear-gradient(138.275deg, rgba(255, 255, 255, 0) 0%, #ffffff 44.79%, #ffffff 58.85%, rgba(255, 255, 255, 0) 100%);
}
#button-animations .btn-secondary .cta-span:nth-child(1),
#button-animations .btn-secondary .cta-span:nth-child(2) {
  height: 2px;
  width: 24px;
  left: -26px;
  transition: left 150ms ease-in-out;
}
#button-animations .btn-secondary .cta-span:nth-child(3),
#button-animations .btn-secondary .cta-span:nth-child(4) {
  height: 24px;
  width: 2px;
  top: -26px;
  transition: top 75ms ease-in-out;
}
#button-animations .btn-secondary .cta-span:nth-child(1) {
  top: 0;
  transition-delay: 25ms;
}
#button-animations .btn-secondary .cta-span:nth-child(2) {
  bottom: 0;
}
#button-animations .btn-secondary .cta-span:nth-child(3) {
  left: 0;
  transition-delay: 100ms;
}
#button-animations .btn-secondary .cta-span:nth-child(4) {
  right: 0;
}
#button-animations .btn-secondary:hover .cta-span:nth-child(1),
#button-animations .btn-secondary:hover .cta-span:nth-child(2) {
  left: 100%;
  transition: left 150ms ease-in-out;
}
#button-animations .btn-secondary:hover .cta-span:nth-child(2) {
  transition-delay: 25ms;
}
#button-animations .btn-secondary:hover .cta-span:nth-child(3),
#button-animations .btn-secondary:hover .cta-span:nth-child(4) {
  top: 100%;
  transition: top 75ms ease-in-out;
}
#button-animations .btn-secondary:hover .cta-span:nth-child(4) {
  transition-delay: 100ms;
}
#button-animations .btn-secondary button,
#button-animations .btn-secondary a {
  text-decoration: none;
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
  font-family: "Hitmarker Text Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 0.88rem;
  line-height: 0.88rem;
  letter-spacing: 0.05em;
  padding: 12px 24px;
  border-radius: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #858585;
  /* HOVER OFF */
  transition: opacity 150ms;
}
@media screen and (-ms-high-contrast: active) {
  #button-animations .btn-secondary button,
  #button-animations .btn-secondary a {
    border: 2px solid currentcolor;
  }
}
#button-animations .btn-secondary button .cta-text,
#button-animations .btn-secondary a .cta-text {
  position: relative;
}
#button-animations .btn-secondary button:before,
#button-animations .btn-secondary a:before {
  content: '';
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.12);
  opacity: 0;
}
#button-animations .btn-secondary button:hover:before,
#button-animations .btn-secondary a:hover:before {
  opacity: 1;
  transition: opacity 150ms;
  transition-delay: 75ms;
}

body.get-the-game-test-b #cod-store-listings-aggregator .card-media.games {
  aspect-ratio: 0.56390977;
}
body.get-the-game-test-b #cod-store-listings-aggregator .card-media .logo {
  margin-bottom: 35px;
}
body.get-the-game-test-b #cod-store-listings-aggregator .card {
  border-radius: 0;
}
body.get-the-game-test-b #cod-store-listings-aggregator .card .promo-banner {
  position: absolute;
  top: 0;
  bottom: auto;
  background: #d80000;
  padding: 10px 10px;
  width: auto;
}
body.get-the-game-test-b #cod-store-listings-aggregator .card .promo-banner p {
  text-align: left;
}
body.get-the-game-test-b #cod-store-listings-aggregator .card .card-info {
  display: none;
}
body.get-the-game-test-b #cod-store-listings-aggregator .card a {
  border-radius: 0;
}

/**
	COD BO6 HOME HERO STYLES - /apps/atvi/callofduty/bo6/components/pages/home/clientlibs/css/hero.css
*/
#hero {
  background: #000;
  overflow: hidden;
}
#hero .btn-orange {
  font-family: "Hitmarker Text Bold";
  font-weight: 700;
  font-style: normal;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  line-height: 1;
  padding: 0;
  background: #f96800;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  letter-spacing: .8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding: 16px 40px 16px 40px;
  box-shadow: 0px 4px 8px 0px #000000CC;
}
#hero .btn-orange a {
  color: inherit;
  text-decoration: none;
}
#hero .hero-grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  max-width: 1440px;
  margin: 0 auto;
}
#hero .hero-grid-container > * {
  position: relative;
  grid-area: 1 / -1;
}
#hero .background-container {
  position: relative;
  margin-inline: auto;
}
#hero .background-container .atvi-image {
  display: none;
}
#hero .background-container .background-video-container .video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 1440.02px) {
  #hero .background-container .background-video-container .video-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 92.45%, #000000 100%), linear-gradient(90deg, rgba(0, 0, 0, 0) 92.5%, #000000 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 85%, #000000 100%);
    pointer-events: none;
  }
}
@media (max-width: 1440px) {
  #hero .background-container .background-video-container .video-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 85%, #000000 100%);
    pointer-events: none;
  }
}
#hero .background-container .background-video-container .custom-controls {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 82px;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
}
@media (max-width: 1024px) {
  #hero .background-container .background-video-container .custom-controls {
    max-width: 1024px;
    padding-inline: 40px;
  }
}
@media (max-width: 600px) {
  #hero .background-container .background-video-container .custom-controls {
    max-width: 600px;
    padding-inline: 16px;
  }
}
#hero .background-container .background-video-container .custom-controls button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
}
@media screen and (-ms-high-contrast: active) {
  #hero .background-container .background-video-container .custom-controls button {
    border: 2px solid currentcolor;
  }
}
#hero .background-container .background-video-container .custom-controls #play-btn {
  display: none;
}
#hero .background-container .background-video-container .custom-controls .sr-only:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
#hero .background-container .background-image-container,
#hero .background-container .background-video-container {
  display: grid;
  place-items: center;
}
#hero .background-container .background-image-container img,
#hero .background-container .background-video-container img,
#hero .background-container .background-image-container video,
#hero .background-container .background-video-container video {
  max-width: unset;
  overflow: hidden;
}
#hero .foreground-container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 60px;
}
@media (max-width: 1024px) {
  #hero .foreground-container {
    max-width: 1024px;
    padding-inline: 40px;
  }
}
@media (max-width: 600px) {
  #hero .foreground-container {
    max-width: 600px;
    padding-inline: 16px;
  }
}
#hero .foreground-container > .atvi-image,
#hero .foreground-container > .atvi-video {
  max-width: 420px;
  margin-inline: auto;
}
@media (max-width: 600px) {
  #hero .foreground-container > .atvi-image,
  #hero .foreground-container > .atvi-video {
    max-width: 267px;
  }
}
#hero .foreground-container .logo-image {
  -moz-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
  margin-bottom: 25px;
}
@media (min-width: 600.02px) {
  #hero .foreground-container .logo-image {
    margin-bottom: 35px;
  }
}
#hero .foreground-container .hero-text {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}
@media (min-width: 600.02px) {
  #hero .foreground-container .hero-text {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 35px;
  }
}
#hero .foreground-container .atvi-cta-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
#hero .foreground-container .atvi-cta-container ul li a {
  font-family: "Hitmarker Text Bold";
  font-weight: 700;
  font-style: normal;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  line-height: 1;
  padding: 0;
  background: #f96800;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  letter-spacing: .8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding: 16px 40px 16px 40px;
  box-shadow: 0px 4px 8px 0px #000000CC;
}
#hero .foreground-container .atvi-cta-container ul li a:hover {
  background: url('../../../../../../../content/dam/atvi/callofduty/cod-touchui/hub/v2023/hero/2024/06/CerberusBtnAnim.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 1024.02px) {
  #hero .background-container img,
  #hero .background-container video {
    height: clamp(626px, 78vw, 800px);
  }
  #hero .foreground-container {
    margin-top: 300px;
  }
}
@media (min-width: 1440.02px) {
  #hero .background-container img,
  #hero .background-container video {
    height: 800px;
  }
  #hero .foreground-container {
    margin-top: 300px;
  }
}
@media (max-width: 1024px) {
  #hero .background-container img,
  #hero .background-container video {
    height: 626px;
  }
  #hero .foreground-container {
    margin-top: 260px;
  }
}
@media (prefers-reduced-motion) {
  #hero .background-container .atvi-video {
    display: none;
  }
  #hero .background-container .atvi-image {
    display: block;
  }
  #hero .background-container .atvi-image .hero-grid-container {
    max-width: 2615px;
  }
}

