.container-editor {
    display: flex;
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    padding-top: 1%;
}

.maps-grid {
    display: grid;
    padding: 1%;
    /* margin: auto; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 840px;
    max-height: 645px;
    min-height: 645px;
    /* background-color: gray; */
}

.selected-maps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.selected-maps img {
    width: 64px;
    height: 64px;
}

.map {
    display: flex;
    flex-direction: column;
}

.map-image {
    width: 175px;
    height: 175px;
}

.selected {
    border: 1px solid rgb(0, 255, 0);
}