@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  margin: auto;
  font-family: "Inter", Arial;
  background-color: #1b1b1b;
}

#root:before {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("src/assets/bg-grid-v3.png");
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
}