/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Цвет фона */
  color: #fff; /* Цвет текста */
  padding: 10px 20px; /* Поля вокруг содержимого */
  position: sticky; /* Зафиксируем header наверху страницы */
  top: 0; /* Положение наверху */
  left: 0; /* Положение слева */
  width: 100%; /* Ширина на всю ширину экрана */
  z-index: 1000; /* Задаем z-index, чтобы header был поверх других элементов */
}

header nav ul {
  list-style-type: none; /* Убираем маркеры у списка */
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline; /* Размещаем пункты списка в ряд */
  margin-right: 20px; /* Расстояние между пунктами списка */
}

header nav ul li:last-child {
  margin-right: 0; /* У последнего пункта списка нет правого отступа */
}

header nav ul li a {
  color: #fff; /* Цвет текста ссылок */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

header button {
  background-color: transparent; /* Прозрачный фон кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none; /* Убираем границу у кнопки */
  cursor: pointer; /* Задаем курсор при наведении на кнопку */
}
